<%= render partial: "admin/shared/form_errors", locals: { object: @host } %>

<div class="row">
  <%= f.input :name, wrapper_html: { class: "col s12 l8" }, autofocus: true %>
</div>

<div class="row">
  <%= f.input :user_id, collection: @users, label_method: :full_name,
                        wrapper_html: { class: "col s12 l8" }, label_html: { class: "active" } %>
</div>
