@font-face {
  font-family: "Pacifico";
  src: font-url("pacifico.ttf") format("truetype");
  // http://www.fontsquirrel.com/fonts/pacifico
}

@font-face {
  font-family: "Bebas";
  src: font-url("bebas.ttf") format("truetype");
  // http://www.dafont.com/bebas.font
}

@font-face {
  font-family: "Carrois Gothic";
  src: font-url("carrois-gothic.ttf") format("truetype");
  // http://www.fontsquirrel.com/fonts/carrois-gothic
}

$brand-font: "Pacifico", "Helvetica", sans-serif;
$primary-font: "Carrois Gothic", "Helvetica", sans-serif;
$secondary-font: "Bebas", "Helvetica", sans-serif;

%brand-font,
.brand-font {
  font-family: $brand-font;
}

%primary-font,
.primary-font {
  font-family: $primary-font;
}

%secondary-font,
.secondary-font {
  font-family: $secondary-font;
}
