.input-field {
  label,
  input {
    display: block;
  }

  label {
    @extend .primary-font;
    margin: 1em 0 .5em;
  }

  input,
  textarea {
    @extend .secondary-font;
    background-color: $light-gray-color;
    border: 1px solid $brown-color;
    box-sizing: border-box;
    font-size: .9em;
    line-height: 1.4em;
    padding: 8px;
    width: 100%;
    word-spacing: 1px;

    &:focus {
      outline: 2px solid $primary-color;
    }
  }

  textarea {
    vertical-align: top;
  }
}

.submit,
input[type="submit"] {
  @extend .btn;
  background-color: $primary-color;

  &:hover {
    background-color: $primary-darken-color;
  }
}

.field-with-errors {
  &input,
  &textarea {
    border: 1px solid $primary-color;
  }
}
