a {
  color: $primary-color;

  &:hover {
    color: $black-color;
  }

  .visited,
  &:visited {
    color: $primary-darken-color;
  }
}

b,
strong {
  font-weight: 600;
}

i,
em,
var,
dfn,
cite {
  font-style: italic;
}

u {
  text-decoration: underline;
}

sup {
  font-size: smaller;
  vertical-align: super;
}

sub {
  font-size: smaller;
  vertical-align: sub;
}

small {
  font-size: smaller;
}

abbr {
  border-bottom: 1px dotted $gray-color;
  cursor: help;
}

tt,
kbd,
code,
samp {
  font-family: monospace;
}

q {
  quotes: initial;
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}

mark {
  background-color: lighten($primary-color, 30%);
}
