.social {
  .email {
    background-image: image-url("icons/mail-w.png");

    &:hover {
      background-image: image-url("icons/mail-h.png");
    }
  }

  .facebook {
    background-image: image-url("icons/facebook-w.png");

    &:hover {
      background-image: image-url("icons/facebook-h.png");
    }
  }

  .twitter {
    background-image: image-url("icons/twitter-w.png");

    &:hover {
      background-image: image-url("icons/twitter-h.png");
    }
  }

  .instagram {
    background-image: image-url("icons/instagram-w.png");

    &:hover {
      background-image: image-url("icons/instagram-h.png");
    }
  }

  a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 32px;
    text-indent: -9999px;
    width: 32px;
  }
}
