<%= simple_form_for [:admin, @event], defaults: { error: false } do |f| %>
  <%= render partial: "form_fields", locals: { f: f } %>

  <div class="row">
    <div class="col s12">
      <%= f.button :submit, "Create event" %>
      <%= f.button :submit, "Preview", class: "teal lighten-2" %>
    </div>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    $("select#event_host_id").material_select();
  });
</script>
