<%= simple_form_for [:admin, @event] do |f| %>
  <%= render partial: "form_fields", locals: { f: f } %>

  <div class="col s12">
    <%= f.button :submit, "Create event" %>
  </div>
<% end %>

<script>
  $(document).ready(function() {
    $("select#event_host_id").material_select();
  });
</script>
