<div class="atoms-favicon">
  <div class="pattern-header">
    Favicon
  </div>
  <div class="pattern-body">
    <img src="/favicon-16.ico" alt="" width="16px" height="16px">
    <img src="/favicon-32.ico" alt="" width="32px" height="32px">
  </div>
</div>