<div class="atoms-logo">
  <div class="pattern-header">
    Logo
  </div>
  <div class="pattern-body">
    <div>
      <%= link_to "#", alt: "WhatWeAte", title: "WhatWeAte", class: "logo" do %>
        <%= image_tag "logo-icon.png", class: "logo-icon" %>
        <%= image_tag "logo-text.png", class: "logo-text", alt: "WhatWeAte" %>
      <% end %>
    </div>
  </div>
</div>
