<div class="style-guide-navigation center-text">
  <%= link_to "Atoms", style_guide_path(anchor: "atoms") %>
  <%= link_to "Molecules", style_guide_path(anchor: "molecules") %>
  <%= link_to "Organisms", style_guide_path(anchor: "organisms") %>
  <%= link_to "Templates", style_guide_path(anchor: "templates") %>
</div>
