<div class="atoms-paragraph">
  <div class="pattern-header">
    Paragraph
  </div>
  <div class="pattern-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptas placeat repellendus nostrum similique, reiciendis dolorum ipsa repudiandae minus explicabo voluptatem voluptatum deleniti laudantium pariatur aliquid. Libero eveniet iusto, placeat dicta iste asperiores quam veritatis ab officia, voluptatibus distinctio, eaque.</p>
  </div>
</div>