<div class="atoms-select-menu">
  <div class="pattern-header">
    Select menu
  </div>
  <div class="pattern-body">
    <div class="input-field select optional">
      <label class="input-label select optional">Select</label>
      <select class="select optional">
        <option></option>
        <option>Option one</option>
        <option>Option two</option>
      </select>
    </div>
  </div>
</div>
