<div class="atoms-social-icons">
  <div class="pattern-header">
    Social links
  </div>
  <div class="pattern-body">
    <i class="fa fa-facebook-square"></i>
    <i class="fa fa-twitter-square"></i>
    <i class="fa fa-instagram"></i>
    <i class="fa fa-envelope-square"></i>
  </div>
</div>
