<div class="atoms-text-fields">
  <div class="pattern-header">
    Text fields
  </div>
  <div class="pattern-body">
    <div class="input-field required">
      <label class="input-label required">Text Input <abbr title="Required">*</abbr></label>
      <input class="input string required" type="text" placeholder="Text Input">
    </div>

    <div class="input-field optional">
      <label class="input-label password optional">Password</label>
      <input class="input password optional" type="password" placeholder="Type your password">
    </div>

    <div class="input-field optional">
      <label class="input-label url optional">Web Address</label>
      <input class="input url optional" type="url" placeholder="http://example.com">
    </div>

    <div class="input-field optional">
      <label class="input-label email optional">Email Address</label>
      <input class="input email optional" type="email" placeholder="user@example.com">
    </div>

    <div class="input-field optional">
      <label class="input-label search optional">Search</label>
      <input class="input search optional" type="search" placeholder="Enter Search Term">
    </div>

    <div class="input-field required">
      <label class="input-label required">Number Input <abbr title="Required">*</abbr></label>
      <input class="input number required" type="number" placeholder="Enter a Number" pattern="[0-9]*">
    </div>

    <div class="input-field optional">
      <label class="input-label text optional">Textarea</label>
      <textarea class="textarea text optional" rows="8" cols="48" placeholder="Enter your message here"></textarea>
    </div>
  </div>
</div>
