<div class="molecules-blockquote">
  <div class="pattern-header">
    Blockquote
  </div>
  <div class="pattern-body">
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci enim non facilis, alias, amet nostrum nemo maxime culpa hic dicta tempora, maiores similique tenetur quia odit laudantium facere mollitia iusto!</p>
      <footer>
        <p><cite>Joe Bloggs</cite></p>
      </footer>
    </blockquote>
  </div>
</div>
