<div class="molecules-event-thumbnail">
  <div class="pattern-header">
    Event thumbnail
  </div>
  <div class="pattern-body">
    <div class="event-thumbnail">
      <a href="#" title="Title">
        <%= image_tag "events/primary_default_thumb.png", class: "primary-photo" %>
        <div class="content">
          <h4>Consectetur adipisicing elit. Dolore, eius.</h4>
          <p class="date">6:00PM, 27th Jun 2015</p>
          <span class="label price">£46.00</span>
          <p class="short-description">Perferendis aliquam sint veritatis. Minima modi, harum numquam soluta assumenda.</p>
          <p class="venue">Shoreditch, London</p>
        </div>
      </a>
    </div>
  </div>
</div>
