<div class="molecules-form">
  <div class="pattern-header">
    Horizontal form
  </div>
  <div class="pattern-body">
    <form class="form horizontal-form">
        <div class="input-field email optional user_email">
          <label class="email optional" for="user_email">Email</label>
          <input class="string email optional" type="email" value="" id="user_email">
        </div>
        <div class="input-field password optional user_password">
          <label class="password optional" for="user_password">Password</label>
          <input class="password optional" type="password" id="user_password">
        </div>
        <div class="input-field boolean optional user_remember_me">
          <input value="0" type="hidden" >
          <label class="boolean optional checkbox" for="user_remember_me">
          <input class="boolean optional" type="checkbox" value="1"  id="user_remember_me">Remember me</label>
        </div>
        <input type="submit" value="Sign in" class="btn">
    </form>
  </div>
</div>