<div class="molecules-item">
  <div class="pattern-header">
    Item
  </div>
  <div class="pattern-body">
    <div class="item">
      <div class="content">
        <div class="image-container">
          <%= image_tag "icons/browse.png", alt: "Find an event" %>
        </div>
        <div class="text-container">
          <h6>Lorem ipsum dolor.</h6>
          <p>Amet consectetur adipisicing elit. Minus.</p>
        </div>
      </div>
    </div>
  </div>
</div>
