<div class="molecules-menu">
  <div class="pattern-header">
    Menu (mobile: interactive, tablet: static) - left
  </div>
  <div class="pattern-body">
    <div class="menu menu-left">
      <input type="checkbox" id="molecules-menu-left">
      <label class="btn" for="molecules-menu-left">Menu</label>
      <ul>
        <li><a class="btn" href="#"><span>Item one</span></a></li>
        <li><a class="btn" href="#"><span>Item two</span></a></li>
        <li><a class="btn-alt" href="#"><span>Item three</span></a></li>
      </ul>
    </div>
  </div>
</div>