<div class="molecules-member-profile">
  <div class="pattern-header">
    Member profile header
  </div>
  <div class="pattern-body">
    <div class="member-profile">
      <%= gravatar_image_tag "", class: "member-avatar" %>
      <h1>Joe Bloggs</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur vero doloribus possimus odit suscipit vel repellat dolor corrupti, voluptatibus illum cupiditate distinctio, numquam tenetur, quasi fugit iusto. Eveniet, magnam, exercitationem.</p>
    </div>
  </div>
</div>
