<div class="molecules-newsletter">
  <div class="pattern-header">
    Newsletter
  </div>
  <div class="pattern-body">
    <div class="newsletter input-field">
      <input type="text" class="input name first-name" placeholder="First Name" required><!--
      --><input type="text" class="input name last-name" placeholder="Last Name" required><!--
      --><input type="email" class="input email" placeholder="Email address" required><!--
      --><input type="submit" class="submit" value="Submit">
    </div>
  </div>
</div>
