<div class="molecules-proposition">
  <div class="pattern-header">
    Proposition
  </div>
  <div class="pattern-body">
    <div class="proposition">
      <div class="proposition-container">
        <div class="proposition-content">
          <h1>Lorem ipsum dolor sit amet.</h1>
          <h2>Consequatur voluptates tenetur sapiente praesentium reiciendis.</h2>
          <a href="#" class="btn">Ab ipsam maxime</a>
        </div>
      </div>
    </div>
  </div>
</div>
