<div class="molecules-text-section">
  <div class="pattern-header">
    Text section
  </div>
  <div class="pattern-body">
    <div class="text-section">
      <h2 class="title">Title</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quibusdam ut quasi necessitatibus officiis cum error, nesciunt provident? Ab reprehenderit aperiam recusandae error nobis vitae possimus cupiditate, dolorum ipsam quam!</p>
    </div>
  </div>
</div>
