$primary-color: #dc7a31;
$primary-color-hover: #ba6220;
$primary-background-color: #ffffff;
$secondary-background-color: #f7f6f5;
$secondary-border-color: #927e6f;
$footer-background-color: #777470;

.primary-background-color {
  background-color: $primary-color
}
