$primary-color:        #dc7a31;
$primary-darken-color: #ba6220;
$black-color:          #000000;
$gray-color:           #777470;
$brown-color:          #927e6f;
$light-gray-color:     #ece9e7;
$pale-gray-color:      #f7f6f5;
$white-color:          #ffffff;
