.events {
  background-color: $primary-background-color;
  text-align: center;
  padding: 28px 7px;

  .container {
    max-width: 926px;
    margin: 0 auto;
  }

  h1 {
    padding-bottom: 18px;
    word-spacing: 3px;
    font-family: $secondary-font;
    text-align: center;
    font-size: 1.6em;
  }

  .error {
    padding: 14px 14px 0;
    line-height: 1.4em;
    font-weight: 600;
    font-size: 1.2em;
  }

  .event {
    background-color: $secondary-background-color;
    vertical-align: top;
    text-align: left;
    position: relative;
    display: inline-block;
    margin: 20px 7px;
    width: 292px;

    &:hover {
      background-color: #ece9e7;
    }

    a {
      text-decoration: none;
      color: black;
    }

    img {
      width: 100%;
    }

    h2 {
      word-spacing: 2px;
      font-family: $secondary-font;
      line-height: 1.2em;
      font-size: 1.2em;
      padding: 7px 14px 0;
    }

    p {
      padding: 7px 14px;
    }

    .venue {
      padding-bottom: 14px;
      font-style: italic;
    }

    .details {
      padding: 8px 14px 4px;

      .price {
        background-color: $primary-color;
        font-family: $secondary-font;
        position: absolute;
        padding: 14px 18px;
        color: white;
        left: 0;
        top: 120px;
      }
    }
  }
}
