.events {
  background-color: $primary-background-color;
  text-align: center;
  padding: 28px 7px;

  .container {
    max-width: 926px;
    margin: 0 auto;
  }

  h1 {
    padding-bottom: 18px;
    word-spacing: 3px;
    font-family: $secondary-font;
    text-align: center;
    font-size: 1.6em;
  }

  .error {
    padding: 14px 14px 0;
    line-height: 1.4em;
    font-weight: 600;
    font-size: 1.2em;
  }

}

@import "event_thumbnail";
