.proposition {
  background-color: $primary-color;
  background: image-url("dining-out.jpg");
  background: image-url("dining-out.jpg") no-repeat top right 30%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .container {
    display: table;
    margin: 0 auto;
    height: 470px;
    width: 320px;

    @include breakpoint(tablet) {
      width: 460px;
    }

    @include breakpoint(desktop) {
      width: 768px;
    }
  }

  .content {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    padding: 14px;
  }

  h1, h2, a {
    color: white;
  }

  h1 {
    padding-bottom: 28px;
    padding-top: 32px;
    word-spacing: 8px;
    text-shadow: 0 0 50px black;
    font-family: $secondary-font;
    line-height: 1.2em;
    font-size: 2.8em;

    @include breakpoint(tablet) {
      font-size: 3.1em;
    }
  }

  h2 {
    padding-bottom: 44px;
    word-spacing: 5px;
    text-shadow: 0 0 40px black;
    font-family: $secondary-font;
    line-height: 1.2em;
    font-size: 1.4em;

    @include breakpoint(tablet) {
      font-size: 1.8em;
    }
  }

  a {
    background-color: $primary-color;
    display: inline-block;
    margin: 0 7px;

    text-decoration: none;
    text-transform: uppercase;
    word-spacing: 1px;
    font-family: $secondary-font;
    text-align: center;
    font-size: 1.4em;
    padding: 18px 24px 20px;

    @include breakpoint(tablet) {
      font-size: 1.6em;
    }

    @include breakpoint(desktop) {
      font-size: 1.8em;
    }

    &:hover {
      background: $primary-color-hover;
    }
  }
}
