<div class="wip">
  <p>Are you sure you want to delete your account?</p>

  <%= link_to "Yes, delete my account", user_registration_path, method: :delete %>
  <%= link_to "No, cancel", profile_path %>
</div>
