<div class="user-delete-account">
  <p class="user-delete-account__warning">Are you sure you want to delete your account?</p>

  <%= link_to "Yes, delete my account", user_registration_path, method: :delete, class: "user-delete-account__link" %>
  <%= link_to "No, cancel", dashboard_path, class: "user-delete-account__link" %>
</div>
