.footer {
  background-color: $gray-color;
  padding: 14px;

  li {
    @extend %li-no-style;
  }

  a {
    color: $white-color;
    text-decoration: none;

    &:hover {
      color: $primary-color;
    }
  }

  .social {
    float: right;

    a {
      margin-left: 8px;
    }
  }

  .legal {
    border-top: 1px solid lighten($gray-color, 15%);
    margin-top: 14px;
    padding-top: 16px;

    ul {
      margin-bottom: 10px;
    }

    li {
      margin-bottom: 3px;
    }

    p {
      color: lighten($gray-color, 30%);
    }
  }

  @include breakpoint($tablet) {
    .legal {
      padding-top: 14px;

      ul {
        float: right;
      }

      li {
        display: inline-block;
        margin-left: 16px;
      }
    }
  }
}
