.item-list-container {
  background: linear-gradient($pale-gray-color, $white-color, $pale-gray-color);
  background-color: $pale-gray-color;
  padding-top: 12px;
}

.item-list {
  margin: 0 auto;
  width: 320px;

  .label-container {
    overflow: visible;
    position: relative;
    text-align: center;
    z-index: 3;
  }

  label {
    width: 120px;
  }

  .label-content-1 {
    margin-right: 14px;
  }

  .content-container {
    height: 380px;
    position: relative;
  }

  .toggle {
    left: -9999px;
    position: absolute;
  }

  .toggle-content-1:not(:checked) ~ .content-container > .togglable-content-1 {
    z-index: 1;
  }

  .toggle-content-1:checked ~ .content-container > .togglable-content-1 {
    z-index: 2;
  }

  .toggle-content-1:checked ~ .label-container > .label-content-1 {
    @extend .btn-header-active;
  }

  .toggle-content-2:not(:checked) ~ .content-container > .togglable-content-2 {
    z-index: 1;
  }

  .toggle-content-2:checked ~ .content-container > .togglable-content-2 {
    z-index: 2;
  }

  .toggle-content-2:checked ~ .label-container > .label-content-2 {
    @extend .btn-header-active;
  }

  .togglable-content {
    background: linear-gradient($pale-gray-color, $white-color, $pale-gray-color);
    background-color: $pale-gray-color;
    bottom: 0;
    left: 0;
    padding-top: 20px;
    position: absolute;
    right: 0;
    top: 0;
  }

  @include breakpoint($desktop) {
    width: auto;

    .toggle:checked + .togglable-content,
    .toggle:not(:checked) + .togglable-content {
      z-index: 1;
    }

    .content-container {
      margin: 0 auto;
      width: 728px;
    }

    .togglable-content {
      background: none;
      float: left;
      margin: 0 7px;
      position: relative;
      top: 0;
      width: 350px;
    }

    .label-content-1 {
      margin-right: 240px;
    }

    label {
      background-color: $primary-color;
      color: $white-color;
      cursor: default;
      position: relative;

      &:after {
        border-color: $primary-color transparent transparent;
        border-style: solid;
        border-width: 12px 10px 0;
        bottom: -11px;
        content: "";
        display: block;
        height: 0;
        left: calc(50% - 11px);
        position: absolute;
        width: 0;
      }
    }
  }
}
