<section class="newsletter">
  <p>
    Join our tribe of social food lovers
  </p>
  <div class="input-container">
    <form id="newsletter" action="//whatweate.us9.list-manage.com/subscribe?u=3ae9a01a53d464033afcc3009&amp;id=eb7d06a555" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
      <input type="text" name="b_3ae9a01a53d464033afcc3009_eb7d06a555" tabindex="-1" value="" style="position:absolute;left:-999px;">

      <input type="text" value="" name="FNAME" class="input name first-name" id="mce-FNAME" placeholder="First Name" required><!--
      --><input type="text" value="" name="LNAME" class="input name last-name" id="mce-LNAME" placeholder="Last Name" required><!--
      --><input type="email" value="" name="EMAIL" class="input email" id="mce-EMAIL" placeholder="Email address" required><!--
      --><input type="submit" class="submit" value="Let Me In!" name="subscribe" id="mc-embedded-subscribe">
    </form>
  </div>
  <div id="response" class="response"></div>
</section>
