<div class="wip">

  <%# unless @event.booked?(current_user) %>
    <%= form_tag event_bookings_path(@event) do %>
      <%= submit_tag 'Book seat' %>
    <% end %>
  <%# end %>

  <%= render partial: "event_content", locals: { event: @event } %>

  <div class="guests">
    <% @guests.each do |guest| %>
      <%= link_to guest.full_name, member_path(guest) %>
    <% end %>
  </div>
</div>
