<section class="events">
  <div class="container">
    <a name="events"></a>
    <h1>Upcoming events</h1>

    <% if @events.blank? %>
      <p class="error"><%= t("failure.no_events") %></p>
    <% else %>
      <% @events.each do |event| %>
        <%= render partial: "event_thumbnail", locals: { event: event } %>
      <% end %>
    <% end %>
  </div>
</section>
