<!DOCTYPE html>
<html lang="en">
  <%= render partial: "layouts/head", locals: { layout: "application", title: "WhatWeAte Style Guide" } %>
  <body id="<%= page_id %>">
    <div class="layout-header">
      generic-layout
    </div>

    <div class="generic-layout">
      <div class="outer-container-header">
        <div class="container">
          <div class="row-header-logo">
            Logo
          </div>

          <div class="row-header-navigation">
            Navigation
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          Content
        </div>
      </div>

      <div class="outer-container-footer">
        <div class="container">
          <div class="row-footer-navigation">
            Sub navigation
          </div>
          <div class="row-footer-legal">
            Legal links
          </div>
          <div class="row-footer-social">
            Social links
          </div>
        </div>
      </div>
    </div>

    <div class="layout-header">
      home-page-layout
    </div>

    <div class="home-page-layout">
      <div class="outer-container-header">
        <div class="container">
          <div class="row-header-logo">
            Logo
          </div>

          <div class="row-header-navigation">
            Navigation
          </div>

          <div class="row-proposition">
            Proposition
          </div>

          <div class="row-form">
            Form
          </div>
        </div>
      </div>

      <div class="outer-container-body">
        <div class="container">
          <div class="row-how-it-works">
            How it works
          </div>
        </div>
      </div>

      <div class="outer-container-body">
        <div class="container">
          <div class="row-quotes">
            Quotes
          </div>
        </div>
      </div>

      <div class="outer-container-body">
        <div class="container">
          <div class="row-event-thumbnail">
            Event
          </div>

          <div class="row-event-thumbnail">
            Event
          </div>

          <div class="row-event-thumbnail">
            Event
          </div>

          <div class="row-browse-events">
            More events
          </div>
        </div>
      </div>


      <div class="outer-container-footer">
        <div class="container">
          <div class="row-footer-navigation">
            Sub navigation
          </div>
          <div class="row-footer-legal">
            Legal links
          </div>
          <div class="row-footer-social">
            Social links
          </div>
        </div>
      </div>

      <div class="outer-container-footnote">
        <div class="container">
          <div class="row-footnote">
            Footnote
          </div>
        </div>
      </div>
    </div>

    <div class="layout-header">
      event-layout
    </div>

    <div class="event-layout">
      <div class="outer-container-header">
        <div class="container">
          <div class="row-header-logo">
            Logo
          </div>

          <div class="row-header-navigation">
            Navigation
          </div>
        </div>
      </div>

      <div class="outer-container-photos">
        <div class="container">
          <div class="row-photos">
            Photos
          </div>

          <div class="row-title">
            Title and location
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row-host">
          Host
        </div>

        <div class="row-details">
          Details
        </div>
      </div>

      <div class="outer-container-footer">
        <div class="container">
          <div class="row-footer-navigation">
            Sub navigation
          </div>
          <div class="row-footer-legal">
            Legal links
          </div>
          <div class="row-footer-social">
            Social links
          </div>
        </div>
      </div>
    </div>

    <div class="layout-header">
      member-layout
    </div>

    <div class="member-layout">
      <div class="outer-container-header">
        <div class="container">
          <div class="row-header-logo">
            Logo
          </div>

          <div class="row-header-navigation">
            Navigation
          </div>
        </div>
      </div>

      <div class="outer-container-member">
        <div class="container">
          <div class="row-snapshot">
            Snapshot
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row-details">
          Details
        </div>
      </div>

      <div class="container">
        <div class="row-event-thumbnail">
          Event
        </div>

        <div class="row-event-thumbnail">
          Event
        </div>

        <div class="row-event-thumbnail">
          Event
        </div>

        <div class="row-event-thumbnail">
          Event
        </div>

        <div class="row-event-thumbnail">
          Event
        </div>

        <div class="row-event-thumbnail">
          Event
        </div>
      </div>

      <div class="outer-container-footer">
        <div class="container">
          <div class="row-footer-navigation">
            Sub navigation
          </div>
          <div class="row-footer-legal">
            Legal links
          </div>
          <div class="row-footer-social">
            Social links
          </div>
        </div>
      </div>
    </div>

    <div class="layout-header">
      dashboard-layout
    </div>

    <div class="dashboard-layout">
      <div class="outer-container-header">
        <div class="container">
          <div class="row-header-logo">
            Logo
          </div>

          <div class="row-header-navigation">
            Navigation
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row-member">
          Member
        </div>

        <div class="row-details">
          Details
        </div>
      </div>

      <div class="outer-container-footer">
        <div class="container">
          <div class="row-footer-navigation">
            Sub navigation
          </div>
          <div class="row-footer-legal">
            Legal links
          </div>
          <div class="row-footer-social">
            Social links
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
