<!DOCTYPE html>
<html lang="en">
  <%= render partial: "layouts/head", locals: { layout: "application", title: "WhatWeAte Style Guide" } %>
  <body id="<%= page_id %>">

  <div class="atoms-colors">
    <div class="pattern-header">
      Colors
    </div>
    <div class="pattern-body">
      <%= color_palette(%w(dc7a31 ba6220 000000 777470 927e6f ece9e7 f7f6f5 ffffff)) %>
    </div>
  </div>

  <div class="atoms-fonts">
    <div class="pattern-header">
      Fonts
    </div>
    <div class="pattern-body">
      <p class="brand-font">Brand font: "Pacifico", "Helvetica", sans-serif;</p>
      <p class="primary-font">Primary font: "Carrois Gothic", "Helvetica", sans-serif;</p>
      <p class="secondary-font">Secondary font: "Bebas", "Helvetica", sans-serif;</p>
    </div>
  </div>
  </body>
</html>
