<!DOCTYPE html>
<html lang="en">
  <%= render partial: "layouts/head", locals: { layout: "application", title: "WhatWeAte Style Guide" } %>
  <body id="<%= page_id %>">

  <div class="atoms-colors">
    <div class="pattern-header">
      Colors
    </div>
    <div class="pattern-body">
      <%= color_palette("#dc7a31", "#ba6220", "#000000", "#777470", "#ece9e7", "#f7f6f5", "#ffffff") %>
    </div>
  </div>
  </body>
</html>
