<div class="atoms-buttons">
  <div class="pattern-header">
    Buttons
  </div>
  <div class="pattern-body">
    <div>
      <a href="#" class="btn-alt">Link</a>
    </div>
    <div>
      <input type="submit" value="Submit" class="btn">
      <a href="#" class="btn">Link</a>
      <button class="btn">Button</button>
    </div>
    <div>
      <label class="btn-header">Button heading</label>
      <label class="btn-header-active">Active button heading</label>
    </div>
  </div>
</div>