<div class="atoms-checkbox">
  <div class="pattern-header">
    Checkbox
  </div>
  <div class="pattern-body">
    <div class="input-field check_boxes optional">
      <label class="check_boxes optional">Checkbox</label>
      <span class="checkbox">
        <label for="checkbox-a">
        <input class="check_boxes optional" type="checkbox" id="checkbox-a">Choice A</label>
      </span>
      <span class="checkbox">
        <label for="checkbox-b">
        <input class="check_boxes optional" readonly="readonly" type="checkbox" id="checkbox-b">Choice B</label>
      </span>
      <span class="checkbox">
        <label for="checkbox-c">
        <input class="check_boxes optional" readonly="readonly" type="checkbox" id="checkbox-c">Choice C</label>
      </span>
    </div>
  </div>
</div>