<div class="atoms-colors">
  <div class="pattern-header">
    Colors
  </div>
  <div class="pattern-body">
    <%= color_palette(%w(dc7a31 ba6220 000000 777470 927e6f ece9e7 f7f6f5 ffffff)) %>
  </div>
</div>