<div class="atoms-file-input">
  <div class="pattern-header">
    File input
  </div>
  <div class="pattern-body">
    <div class="input-field file optional ">
      <label class="file optional">File input</label>
      <input accept="image/*" class="file optional" type="file">
    </div>
  </div>
</div>