<div class="atoms-fonts">
  <div class="pattern-header">
    Fonts
  </div>
  <div class="pattern-body">
    <p class="brand-font">Brand font: "Pacifico", "Helvetica", sans-serif;</p>
    <p class="primary-font">Primary font: "Carrois Gothic", "Helvetica", sans-serif;</p>
    <p class="secondary-font">Secondary font: "Bebas", "Helvetica", sans-serif;</p>
  </div>
</div>