<div class="atoms-html5-input">
  <div class="pattern-header">
    HTML5 input
  </div>
  <div class="pattern-body">
    <div class="input-field required">
      <label class="required">Number input <abbr title="Required">*</abbr></label>
      <input class="number required" type="number" min="0" max="5" value="3">
    </div>

    <div class="input-field datetime required event_date">
      <label class="datetime required">
      <abbr title="required">*</abbr> Datetime</label>
      <input type="datetime-local" class="datetime required" placeholder="YYYY-MM-DD HH:MM">
    </div>

    <div class="input-field date optional event_title">
      <label class="date optional">Date</label>
      <input class="date optional" type="date">
    </div>

    <div class="input-field time optional event_title">
      <label class="time optional">Time</label>
      <input class="time optional" type="time">
    </div>
  </div>
</div>