<div class="atoms-input-error">
  <div class="pattern-header">
    Input field (error state)
  </div>
  <div class="pattern-body">
    <div class="error-notification">Please review the following errors</div>

    <div class="input-field optional field-with-errors">
      <label class="error optional">Error Input</label>
      <input class="text optional" type="text" placeholder="Text Input">
      <span class="error">can't be blank</span>
    </div>
  </div>
</div>