<div class="atoms-placeholder-image">
  <div class="pattern-header">
    Event placeholder image (600x397px)
  </div>
  <div class="pattern-body">
    <%= image_tag "events/primary_default.png" %>
  </div>
</div>