<div class="atoms-placeholder-thumbnail-image">
  <div class="pattern-header">
    Event placeholder thumbnail image (292x193px)
  </div>
  <div class="pattern-body">
    <%= image_tag "events/primary_default_thumb.png" %>
  </div>
</div>