<div class="atoms-radio-buttons">
  <div class="pattern-header">
    Radio buttons
  </div>
  <div class="pattern-body">
    <div class="input-field radio_buttons optional ">
      <label class="radio_buttons optional">Radio buttons</label>
      <span class="radio">
        <label for="radio-a">
        <input class="radio_buttons optional" type="radio" id="radio-a">Choice A</label>
      </span>
      <span class="radio">
        <label for="radio-b">
        <input class="radio_buttons optional" readonly="readonly" type="radio" id="radio-b">Choice B</label>
      </span>
      <span class="radio">
        <label for="radio-c">
        <input class="radio_buttons optional" readonly="readonly" type="radio" id="radio-c">Choice C</label>
      </span>
    </div>
  </div>
</div>