<div class="atoms-social-icons">
  <div class="pattern-header">
    Social links
  </div>
  <div class="pattern-body">
    <ul class="social">
      <a href="https://www.facebook.com/whatweate.co" class="facebook">
        Facebook
      </a>
      <a href="https://twitter.com/WhatWeAteCo" class="twitter">
        Twitter
      </a>
      <a href="http://instagram.com/whatweate.co" class="instagram">
        Instagram
      </a>
      <a href="mailto:hello@whatweate.co" class="email">
        Email
      </a>
    </ul>
  </div>
</div>
