<div class="atoms-text-fields">
  <div class="pattern-header">
    Text fields
  </div>
  <div class="pattern-body">
    <div class="input-field required">
      <label class="required">Text Input <abbr title="Required">*</abbr></label>
      <input class="string required" type="text" placeholder="Text Input">
    </div>

    <div class="input-field optional">
      <label class="password optional">Password</label>
      <input class="password optional" type="password" placeholder="Type your password">
    </div>

    <div class="input-field optional">
      <label class="url optional">Web Address</label>
      <input class="url optional" type="url" placeholder="http://example.com">
    </div>

    <div class="input-field optional">
      <label class="email optional">Email Address</label>
      <input class="email optional" type="email" placeholder="user@example.com">
    </div>

    <div class="input-field optional">
      <label class="search optional">Search</label>
      <input class="search optional" type="search" placeholder="Enter Search Term">
    </div>

    <div class="input-field required">
      <label class="required">Number Input <abbr title="Required">*</abbr></label>
      <input class="number required" type="number" placeholder="Enter a Number" pattern="[0-9]*">
    </div>

    <div class="input-field optional">
      <label class="text optional">Textarea</label>
      <textarea class="text optional" rows="8" cols="48" placeholder="Enter your message here"></textarea>
    </div>
  </div>
</div>