.dashboard {
  @include container;
  margin-top: 24px;
  padding: 0 16px 48px;

  @include breakpoint($tablet) {
    margin-top: 48px;
    padding-bottom: 64px;
  }
}

.dashboard__profile {
  @include span(12 of 12);

  @include breakpoint($tablet) {
    @include span(5 of 12);
    box-sizing: border-box;
    padding-right: gutter(16px);
  }

  @include breakpoint($desktop) {
    @include span(4 of 12);
  }
}

.dashboard__panel {
  @include span(12 of 12);

  @include breakpoint($tablet) {
    @include span(last 7 of 12);
  }

  @include breakpoint($desktop) {
    @include span(last 8 of 12);
  }
}

.dashboard__avatar {
  border: 3px solid $gray-color;
  border-radius: 50%;
  display: block;
  height: 200px;
  margin: 0 auto;
  object-fit: cover;
  width: 200px;
}

.dashboard__user-name {
  @extend %heading-2;
  margin-top: 24px;
  text-align: center;
}

.dashboard__user-actions {
  margin: 16px 0 24px;
  text-align: center;
}

.dashboard__user-action {
  @extend %button;
  display: inline-block;
}

.dashboard__active-user-action {
  @extend %primary-button;
  display: inline-block;
  margin-right: 8px;
}

.dashboard__user-field-heading {
  @extend %heading-6;
  margin-bottom: 4px;
}

.dashboard__user-field {
  margin-bottom: 12px;
}

.dashboard__hidden-user-field {
  color: $gray-color;
}
