.flash-messages {
  position: absolute;
  text-align: center;
  top: 56px;
  width: 100%;
  z-index: 2;

  @include breakpoint($tablet) {
    top: 60px;
  }
}

.flash-messages__message {
  background-color: $pale-gray-color;
  color: $black-color;
  display: inline-block;
  margin: 0 16px 4px;
  padding: 4px 8px 5px;

  &:first-of-type {
    margin-top: 4px;
  }
}

.flash-messages__close {
  color: lighten($black-color, 10%);
  cursor: pointer;
  margin-left: 2px;
}
