.forgot-password {
  margin: 48px auto 0;
  max-width: 280px;
  padding-bottom: 48px;

  @include breakpoint($tablet) {
    padding-bottom: 64px;
  }
}

.forgot-password__title {
  @extend %heading-5;
  margin-bottom: 16px;
  text-align: center;
}

.forgot-password__input {
  @extend %form-input;
  display: block;
}

.forgot-password__submit {
  @extend %form-submit;
  margin-top: 8px;
  width: 100%;
}
