.member-profile {
  margin-top: 24px;
  padding: 0 16px;

  @include breakpoint($tablet) {
    margin-top: 48px;
  }
}

.member-profile__avatar {
  border: 3px solid $gray-color;
  border-radius: 50%;
  display: block;
  height: 200px;
  margin: 0 auto;
  object-fit: cover;
  width: 200px;
}

.member-profile__full-name {
  @extend %heading-2;
  margin-top: 24px;
  text-align: center;
}

.member-profile__bio {
  margin: 16px auto 0;
  max-width: $desktop;
  padding: 0 16px;
  text-align: center;
}

.member-profile__social-verifications {
  margin-top: 12px;
  text-align: center;
}

.member-profile__social-verification {
  height: 32px;
  width: 32px;
}

.member-profile__guest-events {
  border-top: 1px solid $light-gray-color;
  text-align: center;
  margin-top: 16px;
  padding-top: 16px;
}

.member-profile__host-events {
  border-top: 1px solid $light-gray-color;
  text-align: center;
  margin-top: 16px;
  padding-top: 16px;
}

.member-profile__event-group {
  padding-bottom: 16px;
}

.member-profile__event-title {
  @extend %heading-5;
  margin-bottom: 12px;
}
