.site-logo {
  display: inline-block;
  text-decoration: none;
}

.site-logo__icon {
  vertical-align: bottom;
  height: 36px;

  @include breakpoint($tablet) {
    height: 40px;
  }
}

.site-logo__text {
  height: 24px;
  margin-left: 10px;

  @include breakpoint($tablet) {
    height: 30px;
  }
}
