.user-edit-password {
  margin: 48px auto 0;
  max-width: 280px;
  padding-bottom: 48px;

  @include breakpoint($tablet) {
    padding-bottom: 64px;
  }
}

.user-edit-password__errors {
  text-align: center;
}

.user-edit-password__title {
  @extend %heading-5;
  margin-bottom: 16px;
  text-align: center;
}

.user-edit-password__input {
  @extend %form-input;
  display: block;
}

.user-edit-password__label {
  @extend %primary-font;
  box-sizing: border-box;
  display: block;
  margin-bottom: 2px;
  margin-top: 8px;
}

.user-edit-password__submit {
  @extend %form-submit;
  margin-top: 16px;
  width: 120px;
}
