.form {
  .event_description textarea {
    height: 6rem;
  }

  .event_menu textarea {
    height: 20rem;
  }

  .image-field .file-path {
    margin-left: 120px;
    width: calc(100% - 120px);
  }
}
