footer {
  background-color: $footer-background-color;
  padding: 14px;

  .container {
    max-width: 912px;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
    color: white;

    &:hover {
      color: $primary-color;
    }
  }

  .links {
    li {
      margin-bottom: 3px;

      @include breakpoint(tablet) {
        margin-bottom: 6px;
      }
    }
  }

  .social {
    float: right;

    .email {
      margin-left: 12px;
      background-image: image-url('icons/mail-w.png');
      &:hover {
        background-image: image-url('icons/mail-h.png');
      }
    }

    .facebook {
      background-image: image-url('icons/facebook-w.png');
      &:hover {
        background-image: image-url('icons/facebook-h.png');
      }
    }

    .twitter {
      background-image: image-url('icons/twitter-w.png');
      &:hover {
        background-image: image-url('icons/twitter-h.png');
      }
    }

    .instagram {
      background-image: image-url('icons/instagram-w.png');
      &:hover {
        background-image: image-url('icons/instagram-h.png');
      }
    }

    a {
      background-repeat: no-repeat;
      background-position: center;
      -moz-background-size: 100%;
      background-size: 100%;
      text-indent: -9999px;
      margin-left: 8px;
      display: inline-block;
      height: 32px;
      width: 32px;
    }


    @include breakpoint(tablet) {
      margin-top: 6px;
    }
  }

  .legal {
    padding-top: 16px;
    border-top: 1px solid #9B9B9B;
    margin-top: 14px;

    ul {
      margin-bottom: 10px;
    }

    li {
      margin-bottom: 3px;
    }

    p {
      color: #DDD;
    }

    @include breakpoint(tablet) {
      padding-top: 14px;

      ul {
        float: right;
      }

      li {
        margin-left: 16px;
        display: inline-block;
      }
    }
  }
}
