---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000341&card[exp_month]=6&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_api_key
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16BmHrBb51nepfzb6MnsBrlq",
          "livemode": false,
          "created": 1433854623,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16BmHrBb51nepfzbHAJIiKWO",
            "object": "card",
            "last4": "0341",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2016,
            "fingerprint": "PG2Me5twQFduEuCd",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "86.53.115.122"
        }
  recorded_at: Tue, 09 Jun 2015 12:57:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=cyril%40lednerpollich.com&card=tok_16BmHrBb51nepfzb6MnsBrlq
    headers:
      Authorization:
      - Bearer sk_test_api_key
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1433854624,
          "id": "cus_6OZQ93Z95WFskV",
          "livemode": false,
          "description": null,
          "email": "cyril@lednerpollich.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6OZQ93Z95WFskV/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6OZQ93Z95WFskV/sources",
            "data": [
              {
                "id": "card_16BmHrBb51nepfzbHAJIiKWO",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 6,
                "exp_year": 2016,
                "fingerprint": "PG2Me5twQFduEuCd",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6OZQ93Z95WFskV"
              }
            ]
          },
          "default_source": "card_16BmHrBb51nepfzbHAJIiKWO"
        }
  recorded_at: Tue, 09 Jun 2015 12:57:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: customer=cus_6OZQ93Z95WFskV&amount=3616&description=Team-oriented%20explicit%20access&currency=GBP
    headers:
      Authorization:
      - Bearer sk_test_api_key
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16BmHtBb51nepfzbjeCJdDy9"
          }
        }
  recorded_at: Tue, 09 Jun 2015 12:57:05 GMT
recorded_with: VCR 2.9.3
