---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_api_key
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16BmIXBb51nepfzbkWvO7yhx",
          "livemode": false,
          "created": 1433854665,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16BmIXBb51nepfzbSgxs39cm",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2016,
            "fingerprint": "KAtX3NSvHETxCFC6",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "86.53.115.122"
        }
  recorded_at: Tue, 09 Jun 2015 12:57:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=watson_shanahan%40kuhic.org&card=tok_16BmIXBb51nepfzbkWvO7yhx
    headers:
      Authorization:
      - Bearer sk_test_api_key
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined"
          }
        }
  recorded_at: Tue, 09 Jun 2015 12:57:46 GMT
recorded_with: VCR 2.9.3
