---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_api_key
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16BmGWBb51nepfzbz2jrNiaX",
          "livemode": false,
          "created": 1433854540,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16BmGWBb51nepfzb4erSMTSp",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2016,
            "fingerprint": "XTHu3J2KoR7pLnCZ",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "86.53.115.122"
        }
  recorded_at: Tue, 09 Jun 2015 12:55:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: email=ricky%40bernierwest.info&card=tok_16BmGWBb51nepfzbz2jrNiaX
    headers:
      Authorization:
      - Bearer sk_test_api_key
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1433854541,
          "id": "cus_6OZPJHyHVOyNNS",
          "livemode": false,
          "description": null,
          "email": "ricky@bernierwest.info",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_6OZPJHyHVOyNNS/subscriptions",
            "data": []
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6OZPJHyHVOyNNS/sources",
            "data": [
              {
                "id": "card_16BmGWBb51nepfzb4erSMTSp",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 6,
                "exp_year": 2016,
                "fingerprint": "XTHu3J2KoR7pLnCZ",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6OZPJHyHVOyNNS"
              }
            ]
          },
          "default_source": "card_16BmGWBb51nepfzb4erSMTSp"
        }
  recorded_at: Tue, 09 Jun 2015 12:55:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: customer=cus_6OZPJHyHVOyNNS&amount=5000&description=Optimized%20tertiary%20open%20architecture&currency=GBP
    headers:
      Authorization:
      - Bearer sk_test_api_key
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_16BmGZBb51nepfzbEhTpAalj",
          "object": "charge",
          "created": 1433854543,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 5000,
          "currency": "gbp",
          "refunded": false,
          "source": {
            "id": "card_16BmGWBb51nepfzb4erSMTSp",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2016,
            "fingerprint": "XTHu3J2KoR7pLnCZ",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": "cus_6OZPJHyHVOyNNS"
          },
          "captured": true,
          "balance_transaction": "txn_16BmGZBb51nepfzbv8zJsc1o",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_6OZPJHyHVOyNNS",
          "invoice": null,
          "description": "Optimized tertiary open architecture",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "destination": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_16BmGZBb51nepfzbEhTpAalj/refunds",
            "data": []
          }
        }
  recorded_at: Tue, 09 Jun 2015 12:55:42 GMT
recorded_with: VCR 2.9.3
