<div class="pattern-header center-text">
  template-dashboard
</div>

<div class="template-dashboard">
  <div class="outer-container-header">
    <div class="container">
      <div class="row-header-logo">
        Logo
      </div>

      <div class="row-header-navigation">
        Navigation
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row-member">
      Member
    </div>

    <div class="row-details">
      Details
    </div>
  </div>

  <div class="outer-container-footer">
    <div class="container">
      <div class="row-footer-navigation">
        Sub navigation
      </div>
      <div class="row-footer-legal">
        Legal links
      </div>
      <div class="row-footer-social">
        Social links
      </div>
    </div>
  </div>
</div>
