<div class="pattern-header center-text">
  template-home-page
</div>

<div class="template-home-page">
  <div class="outer-container-header">
    <div class="container">
      <div class="row-header-logo">
        Logo
      </div>

      <div class="row-header-navigation">
        Navigation
      </div>

      <div class="row-proposition">
        Proposition
      </div>

      <div class="row-form">
        Form
      </div>
    </div>
  </div>

  <div class="outer-container-body">
    <div class="container">
      <div class="row-how-it-works">
        How it works
      </div>
    </div>
  </div>

  <div class="outer-container-body">
    <div class="container">
      <div class="row-quotes">
        Quotes
      </div>
    </div>
  </div>

  <div class="outer-container-body">
    <div class="container">
      <div class="row-event-thumbnail">
        Event
      </div>

      <div class="row-event-thumbnail">
        Event
      </div>

      <div class="row-event-thumbnail">
        Event
      </div>

      <div class="row-browse-events">
        More events
      </div>
    </div>
  </div>


  <div class="outer-container-footer">
    <div class="container">
      <div class="row-footer-navigation">
        Sub navigation
      </div>
      <div class="row-footer-legal">
        Legal links
      </div>
      <div class="row-footer-social">
        Social links
      </div>
    </div>
  </div>

  <div class="outer-container-footnote">
    <div class="container">
      <div class="row-footnote">
        Footnote
      </div>
    </div>
  </div>
</div>
