.error-page {
  padding-top: 80px;
  text-align: center;

  @include breakpoint(tablet) {
    padding-top: 220px;
  }

  h1, p {
    font-family: $brand-font;
  }

  h1 {
    line-height: 2em;
    font-size: 5em;

    @include breakpoint(tablet) {
      font-size: 6em;
    }
  }

  p {
    line-height: 1.6em;
    font-size: 1.4em;
    padding: 14px;
    margin: 0 auto;

    @include breakpoint(tablet) {
      font-size: 1.8em;
    }
  }
}
