@font-face {
  font-family: "Pacifico";
  src: font-url("pacifico.ttf") format("truetype");
}

@font-face {
  font-family: "Bebas";
  src: font-url("bebas.ttf") format("truetype");
}

@font-face {
  font-family: "Carrois Gothic";
  src: font-url("carrois-gothic.ttf") format("truetype");
}

$brand-font: "Pacifico", "Helvetica", sans-serif;
$primary-font: "Carrois Gothic", "Helvetica", sans-serif;
$secondary-font: "Bebas", "Helvetica", sans-serif;
$base-font-size: 14px;
$base-line-height: 16px;
$primary-color: #dc7a31;
$primary-color-hover: #ba6220;
$primary-background-color: #ffffff;
$secondary-background-color: #f7f6f5;
$secondary-border-color: #927e6f;
$footer-background-color: #777470;
