@font-face {
  font-family: "Pacifico";
  src: font-url("pacifico.ttf") format("truetype");
}

@font-face {
  font-family: "Bebas";
  src: font-url("bebas.ttf") format("truetype");
}

@font-face {
  font-family: "Carrois Gothic";
  src: font-url("carrois-gothic.ttf") format("truetype");
}

$brand-font: "Pacifico", "Helvetica", sans-serif;
$primary-font: "Carrois Gothic", "Helvetica", sans-serif;
$secondary-font: "Bebas", "Helvetica", sans-serif;
$base-font-size: 14px;
$base-line-height: 16px;
$primary-color: #DC7A31;
$primary-color-hover: #BA6220;
$primary-background-color: white;
$secondary-background-color: #F7F6F5;
$secondary-border-color: #927E6F;
$footer-background-color: #777470;
