.newsletter {
  display: block;
  width: 280px;

  input {
    text-align: center;
  }

  .name {
    display: inline-block;
    width: 50%;
  }

  .first-name {
    border-right: 0;
  }

  .name,
  .email {
    margin-bottom: 4px;
  }

  @include breakpoint($tablet) {
    width: 532px;

    input {
      display: inline-block;
    }

    .name,
    .email {
      margin-bottom: 0;
      text-align: left;
    }

    .name {
      width: 128px;
    }

    .email {
      border-left: 0;
      border-right: 0;
      width: 196px;
    }

    input[type="submit"] {
      width: 80px;
    }
  }
}
