.newsletter-container {
  text-align: center;
  margin: 12px 0;

  @include breakpoint($desktop) {
    margin: 16px 0;
  }
}

.newsletter-title {
  @extend h5;
  margin-bottom: 8px;
  display: inline-block;

  @include breakpoint($tablet) {
    padding-right: 16px;
  }
}

.newsletter {
  display: block;
  margin: 0 auto;
  width: 280px;

  .input {
    text-align: center;
  }

  .name {
    display: inline-block;
    width: 50%;
  }

  .first-name {
    border-right: 0;
  }

  .name,
  .email {
    margin-bottom: 4px;
  }

  .submit {
    border: 1px solid #927e6f;
    width: 100%;
  }

  @include breakpoint($tablet) {
    width: 532px;

    .input {
      display: inline-block;
    }

    .name,
    .email {
      margin-bottom: 0;
      text-align: left;
    }

    .name {
      width: 128px;
    }

    .email {
      border-left: 0;
      border-right: 0;
      width: 196px;
    }

    .submit {
      width: 80px;
    }
  }

  @include breakpoint($desktop) {
    display: inline-block;
  }
}
