.proposition {
  background: image-url("proposition.jpg");
  background: image-url("proposition.jpg") no-repeat bottom 40% center;
  background-color: $primary-color;
  background-size: cover;
  position: relative;
}

.proposition-container {
  display: table;
  height: 520px;
  margin: 0 auto;
  width: 320px;

  @include breakpoint($tablet) {
    width: 460px;
  }

  @include breakpoint($desktop) {
    width: 768px;
  }
}

.proposition-content {
  color: $white-color;
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  h1 {
    text-shadow: 0 0 50px $black-color;
  }

  h2 {
    padding-bottom: 44px;
    padding-top: 28px;
    text-shadow: 0 0 40px $black-color;
  }

  a {
    @extend h4;
    @extend %label-style;
    word-spacing: 1px;
  }
}
