<%= erb(:'shared/_header', layout: false) %>

<div class="error-page">
  <h1>Oops!</h1>
  <p>Looks like we can't find the page you were looking for</p>
</div>

<%= erb(:'homepage/_footer', layout: false) %>

<style>
  .footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }
</style>
