@import "susy/susy";
@import "breakpoint/breakpoint";
@import "font-awesome/font-awesome";

$susy: (
  container: 960px,
  columns: 12
);

$tablet: 569px;
$desktop: 737px;
$site-footer-height: 256px;
$site-footer-tablet-height: 160px;

@import "../shared/*";
@import "base/*";
@import "placeholders/*";
@import "styles/**/*";
