@import "susy/susy";
@import "breakpoint/breakpoint";
@import "font-awesome/font-awesome";

$susy: (
  container: 960px,
  columns: 12
);

$tablet: 569px;
$desktop: 737px;

@import "../shared/*";
@import "base/*";
@import "placeholders/*";
@import "styles/**/*";
