#pages-grid-layout {
  [class^=outer-container-]:nth-of-type(even) {
    background-color: lighten(rgba(255, 0, 0, .75), 45%);
  }

  [class^=outer-container-]:nth-of-type(odd) {
    background-color: lighten(rgba(255, 0, 0, .75), 40%);
  }

  [class^=row-]:nth-of-type(even) {
    background-color: lighten(rgba(0, 0, 255, .75), 45%);
  }

  [class^=row-]:nth-of-type(odd) {
    background-color: lighten(rgba(0, 0, 255, .75), 40%);
  }
}

.layout-header {
  @extend %pattern-header;
  margin: 0 auto;
  text-align: center;
}

@import "susy/susy";
@import "breakpoint/breakpoint";

$susy: (
  container: 960px,
  columns: 12
);

$tablet: 481px;
$desktop: 737px;

.container {
  @include container;
}

.row-header-logo {
  @include span(6 of 12);
}

.row-header-navigation {
  @include span(last 6 of 12);
}

.row-footer-navigation {
  @include span(6 of 12);

  @include breakpoint($tablet) {
    @include span(3 of 12);
  }
}

.row-footer-legal {
  @include span(last 6 of 12);

  @include breakpoint($tablet) {
    @include span(3 of 12);
  }
}

.row-footer-social {
  @include span(12 of 12);

  @include breakpoint($tablet) {
    @include span(last 6 of 12);
  }
}

.row-footnote {
  @include span(12 of 12);
}

.row-event-thumbnail {
  @include span(12 of 12);

  @include breakpoint($tablet) {
    @include span(6 of 12);

    &:nth-of-type(2n) {
      @include span(last 6 of 12);
    }
  }

  @include breakpoint($desktop) {
    @include span(4 of 12);

    &:nth-of-type(2n) {
      @include span(4 of 12);
    }

    &:nth-of-type(3n) {
      @include span(last 4 of 12);
    }
  }
}

.generic-layout {
  .row {
    @include span(12 of 12);
  }
}

.home-page-layout {
  .row-proposition {
    @include span(12 of 12);
  }

  .row-form {
    @include span(12 of 12);
  }

  .row-how-it-works {
    @include span(12 of 12);
  }

  .row-quotes {
    @include span(12 of 12);
  }

  .row-browse-events {
    @include span(12 of 12);
  }
}

.event-layout {
  .row-photos {
    @include span(12 of 12);
  }

  .row-title {
    @include span(12 of 12);
  }

  .row-host {
    @include span(12 of 12);

    @include breakpoint($tablet) {
      @include span(4 of 12);
    }
  }

  .row-details {
    @include span(12 of 12);

    @include breakpoint($tablet) {
      @include span(last 8 of 12);
    }
  }
}

.member-layout {
  .row-snapshot {
    @include span(12 of 12);
  }

  .row-details {
    @include span(12 of 12);
  }
}

.dashboard-layout {
  .row-member {
    @include span(12 of 12);

    @include breakpoint($desktop) {
      @include span(4 of 12);
    }
  }

  .row-details {
    @include span(12 of 12);

    @include breakpoint($desktop) {
      @include span(last 8 of 12);
    }
  }
}
