.pattern-header {
  border-bottom: 1px solid $gray-color;
  font-family: $primary-font;
  font-size: 70%;
  font-weight: normal;
  margin: 2em 0;
  padding: 1em 0;
}

.atoms-colors {
  .pattern-body {
    overflow: auto;
  }

  li {
    border: 1px solid $light-gray-color;
    float: left;
    list-style: none;
    margin: 0 .2em .2em 0;
    padding: .3em;
  }

  .color-swatch {
    display: block;
    height: 4em;
    margin-bottom: .2em;
    width: 4em;
  }
}
