<footer class="site-footer">
      <div class="site-footer__container">
        <div class="site-footer__navigation">
          <ul>
            <li>
              <a class="site-footer__navigation-link" href="#">
                Company
              </a>
            </li>
            <li>
              <a class="site-footer__navigation-link" href="#">
                About us
              </a>
            </li>
            <li>
              <a class="site-footer__navigation-link" href="#">
                How it works
              </a>
            </li>
            <li>
              <a class="site-footer__navigation-link" href="#">
                FAQs
              </a>
            </li>
            <li>
              <a class="site-footer__navigation-link" href="#">
                Contact us
              </a>
            </li>
          </ul>
        </div>

        <div class="site-footer__legal">
          <ul>
            <li>
              <a class="site-footer__legal-link" href="">
                Terms of use
              </a>
            </li>
            <li>
              <a class="site-footer__legal-link" href="">
                Privacy policy
              </a>
            </li>
            <li>
              <a class="site-footer__legal-link" href="">
                Cookie policy
              </a>
            </li>
          </ul>
        </div>

        <div class="site-footer__social">
          <p class="site-footer__social-title">
            Follow us
          </p>

          <ul>
            <a class="site-footer__social-link" href="https://www.facebook.com/whatweate.co" target="_blank">
              <i class="fa fa-facebook-square"></i>
            </a>
            <a class="site-footer__social-link" href="https://twitter.com/WhatWeAteCo" target="_blank">
              <i class="fa fa-twitter-square"></i>
            </a>
            <a class="site-footer__social-link" href="http://instagram.com/whatweate.co" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
            <a class="site-footer__social-link" href="mailto:hello@whatweate.co">
              <i class="fa fa-envelope-square"></i>
            </a>
          </ul>
        </div>
      </div>
    </footer>